body {
  background: rgb(183, 194, 166);
  margin: 0;
  justify-content: center;
  text-align: center;
}

.game-title {
color: rgb(92, 89, 192);
text-align: center;
font-size: 50px;
font-weight: 800;
}
.tiles {
  margin: 48px auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 16px;
}
.tile{
  height: 150px;
  background: black;
  border: 5px solid grey;
  cursor: pointer;
}
.reset {
padding: 15px 20px;
background: rgb(189, 181, 198);
border: 5px solid grey;
font-size: 1.5em;
text-transform: uppercase;
cursor: pointer;
}