body {
  background: rgb(183, 194, 166);
  margin: 0;
}
.tiles {
  margin: 48px auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 16px;
}
.tile{
  height: 180px;
  background: black;
  border: 5px solid grey;
  cursor: pointer;
}